<h1>Listing tareas</h1>

<table class="table table-bordered">
  <tr>
    <th>Titulo</th>
    <th>Cuerpo</th>
    <th>Hecho</th>
    <th>Vencimiento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tareas.each do |tarea| %>
  <tr>
    <td><%= tarea.titulo %></td>
    <td><%= tarea.cuerpo %></td>
    <td><%= tarea.hecho %></td>
    <td><%= tarea.vencimiento %></td>
    <td><%= link_to 'Show', tarea, class: "btn btn-primary btn-large" %></td>
    <td><%= link_to 'Edit', edit_tarea_path(tarea), class: "btn btn-info btn-large" %></td>
    <td><%= link_to 'Destroy', tarea, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-large" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tarea', new_tarea_path, class: "btn btn-inverse btn-large" %>
